:root {
  --background-color: #f7f7f8;
  --accent-color: #ff9500;
  --font-family-1: "Be Vietnam Pro", sans-serif;
  --font-family-2: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Be Vietnam Pro", sans-serif, "Inter", sans-serif;
  background-color: var(--background-color);
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1920px;
  padding-left: 162px;
  padding-right: 162px;
  margin: 0 auto;
}

/* HEADER */

.header {
  padding-top: 20px;
  padding-bottom: 24px;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
  background-color: var(--accent-color);
  border-radius: 8px;
  padding: 14px 0px;
  height: 55px;
  margin-bottom: 20px;
}

.header-logo-arrow {
  fill: #ffffff;
}

.header-logo-text {
  display: flex;
  font-family: var(--font-family-1);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.header-nav-wrapper {
  display: flex;
  gap: 50px;
  padding-left: 132px;
}

.header-nav-list {
  display: flex;
  gap: 26px;
  padding-top: 14px;
}

.header-nav-item {
  font-family: var(--font-family-1);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #262626;
}

.header-nav-item:focus,
.header-nav-item:hover {
  transform: scale(1.1);
  transition: transform 250ms ease-in-out;
}

.header-nav-link {
  font-family: var(--font-family-1);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #262626;
}

.header-nav-link:focus,
.header-nav-link:hover {
  color: #ff9500;
  transition: color 250ms ease-in-out;
}

.nav-home {
  background-color: #f1f1f3;
  border-radius: 8px;
  padding: 14px 24px;
  width: 100px;
  height: 55px;
  font-family: var(--font-family-1);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #262626;
}

.nav-home:focus,
.nav-home:hover {
  background-color: #ff9500;
  transition: background-color 250ms ease-in-out;
}

.header-nav-button {
  display: flex;
  gap: 12px;
  padding-right: 132px;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid var(--white-95);
  border-radius: 8px;
  width: 117px;
  height: 55px;
  font-size: 18px;
  line-height: 150%;
  font-family: var(--font-family-1);
  color: #262626;
}

.nav-btn:focus,
.nav-btn:hover {
  background-color: var(--accent-color);
  border: none;
  border-radius: 8px;
  width: 117px;
  height: 55px;
  font-size: 18px;
  line-height: 150%;
  font-family: var(--font-family-1);
  color: #ffffff;
  transform: scale(1.1);
  transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
}

/* HERO */

.hero {
  padding-bottom: 150px;
}

.hero-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
  text-align: center;
  font-family: var(--font-family-1);
  color: #1a1a1a;
  padding-top: 14px;
}

.hero-accent {
  color: var(--accent-color);
}

.hero-title-icon {
  background-color: #fff4e5;
  border-radius: 6px;
  padding: 14px;
  width: 62px;
  height: 62px;
}

.hero-title-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #fcfcfd;
  border: 1px solid var(--white-95);
  border-radius: 11px;
  padding: 14px 30px 14px 20px;
  width: 854px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 100px;
}

.hero-title-ending {
  font-family: var(--font-family-1);
  color: #262626;
  font-weight: 500;
  font-size: 38px;
  line-height: 150%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

.hero-title-decor {
  position: absolute;
  left: 500px;
  top: 242px;
}

.hero-title-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.hero-button-list {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.hero-button-explore {
  background-color: var(--accent-color);
  border: none;
  border-radius: 8px;
  padding: 18px 24px;
  width: 195px;
  height: 63px;
  font-family: var(--font-family-1);
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
}

.hero-button-explore:focus,
.hero-button-explore:hover {
  box-shadow: 10px 10px 105px 28px rgba(255, 244, 229, 0.79);
  transform: scale(1.07);
  transition: box-shadow 250ms ease-in-out, transform 250ms ease-in-out;
}

.hero-button-view {
  background-color: #ffffff;
  border: 1px solid #f1f1f3;
  border-radius: 8px;
  padding: 18px 24px;
  width: 159px;
  height: 63px;
  font-family: var(--font-family-1);
  color: #262626;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
}

.btn:focus,
.btn:hover {
  box-shadow: 10px 10px 24px -12px rgba(10, 10, 10, 1);
  transform: scale(1.07);
  transition: box-shadow 250ms ease-in-out, transform 250ms ease-in-out;
}

.soc-nav-list {
  display: flex;
  background-color: #fcfcfd;
  border: 1px solid #f1f1f3;
  border-radius: 12px;
  padding: 30px;
  width: 1595px;
  height: 154px;
}

.soc-nav-item {
  padding: 30px 40px;
  width: 219px;
  height: 94px;
  position: relative;
}

.soc-nav-item:not(:last-child)::after {
  content: "";
  padding: 30px;
  position: absolute;
  border-right: 1px solid #e2e2ea;
  top: 16px;
  right: 24px;
}

/* VIDEO */

.overlay-container {
  position: relative;
  display: inline-block;
}

.video-photo {
  display: block;
  width: 100%;
  height: auto;
}

.video {
  margin-bottom: 150px;
}

.overlay {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 1566px;
  height: 776px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 12px;
}

/* BENEFITS */

.benefits {
  margin-bottom: 100px;
}

.section-title {
  font-family: var(--font-family-1);
  color: #262626;
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
  margin-bottom: 6px;
}

.section-text {
  font-family: var(--font-family-1);
  font-size: 18px;
  line-height: 150%;
  color: #59595a;
  max-width: 1178px;
  margin-bottom: 80px;
}

.section-button {
  border: 1px solid #f1f1f3;
  border-radius: 8px;
  padding: 18px 24px;
  width: 120px;
  height: 63px;
  background-color: #fcfcfd;
  font-family: var(--font-family-1);
  color: #262626;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
}

.section-info {
  display: flex;
  flex-direction: column;
}

.section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.benefits-item {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 50px;
  width: 519px;
  height: 437px;
  position: relative;
}

.benefits-item-number {
  font-family: var(--font-family-1);
  color: #262626;
  font-weight: 700;
  font-size: 80px;
  line-height: 30%;
  text-align: right;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-right: 50px;
}

.benefits-item-title {
  font-family: var(--font-family-1);
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #333333;
  margin-bottom: 14px;
  max-width: 392px;
}

.benefits-item-text {
  font-family: var(--font-family-1);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #4c4c4d;
  margin-bottom: 50px;
  max-width: 419px;
}

.benefits-list-icon {
  width: 34px;
  background-color: #fcfcfd;
  border: 1px solid #f1f1f3;
  border-radius: 8px;
  padding: 20px;
  width: 74px;
  height: 74px;
  position: absolute;
  right: 50px;
  bottom: 25px;
}

.benefits-list-icon:focus,
.benefits-list-icon:hover {
  transform: scale(1.1);
  border-color: #ff9500;
  transition: transform 250ms ease-in-out, border-color 250ms ease-in-out;
}

/* COURSES */

.courses-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 108px;
}

.courses-item {
  background-color: #ffffff;
  border: 1px solid #f1f1f3;
  border-radius: 12px;
  padding: 50px;
  width: 783px;
  height: 807px;
}

.courses-item-info {
  display: flex;
  gap: 10px;
}

.courses-item-info-item {
  background-color: #ffffff;
  border: 1px solid #f1f1f3;
  border-radius: 8px;
  padding: 10px 16px;
  width: 107px;
  height: 43px;
  font-family: var(--font-family-1);
  color: #4c4c4d;
  font-weight: 400;
  font-size: 18px;
  margin-top: 30px;
  width: 145px;
  display: flex;
  justify-content: center;
}

.courses-item-text {
  font-family: var(--font-family-1);
  color: #262626;
  font-weight: 500;
  font-size: 20px;
  padding-top: 39px;
}

.courses-item-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.courses-item-title {
  font-family: var(--font-family-1);
  color: #262626;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 14px;
}

.courses-item-about {
  font-family: var(--font-family-1);
  color: #4c4c4d;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 30px;
}

.courses-item-button {
  background-color: #f7f7f8;
  border: 1px solid #f1f1f3;
  border-radius: 8px;
  padding: 18px 24px;
  width: 683px;
  height: 63px;
  font-family: var(--font-family-1);
  color: #262626;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
}

.courses-item-button:focus,
.courses-item-button:hover {
  background-color: #ffeacc;
  transition: background-color 250ms ease-in-out;
}

.courses-item-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.courses-item-button {
  position: absolute;
  top: 125px;
}

/* TESTIMONIALS  */

.testimonials {
  margin-bottom: 168px;
}

.testimonials-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.testimonials-item {
  background-color: #ffffff;
  border: 1px solid #f1f1f3;
  border-radius: 12px;
  width: 783px;
  height: 304px;
}

.testimonials-item-text {
  font-family: var(--font-family-1);
  color: #4c4c4d;
  font-size: 18px;
  line-height: 150%;
  padding: 50px;
}

.testimonials-wrapper {
  background-color: #fcfcfd;
  padding: 30px 50px;
  width: 783px;
  height: 123px;
  display: flex;
  justify-content: space-between;
}

.testimonials-item-name {
  font-family: var(--font-family-1);
  color: #333333;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}

.testimonials-item-link {
  background-color: #f7f7f8;
  border: 1px solid #f1f1f3;
  border-radius: 8px;
  padding: 18px 24px;
  width: 182px;
  height: 63px;
  font-family: var(--font-family-1);
  color: #262626;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
}

.testimonials-item-link:focus,
.testimonials-item-link:hover {
  background-color: #ffeacc;
  transition: background-color 250ms ease-in-out;
}

.testimonials-photo {
  width: 60px;
  height: 60px;
}

.testimonials-wrapper-name {
  display: flex;
  gap: 15px;
  align-items: center;
}

/* PRICING */

.pricing-button {
  border-radius: 100px;
  border: none;
  padding: 14px 30px;
  width: 116px;
  height: 55px;
  background-color: #ffffff;
  font-family: var(--font-family-1);
  color: #4c4c4d;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

.pricing-button:focus,
.pricing-button:hover {
  background-color: #ff9500;
  border-radius: 6px;
  border: none;
  padding: 14px 30px;
  width: 132px;
  height: 55px;
  color: #ffffff;
  font-family: var(--font-family-1);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  transition: background-color 250ms ease-in-out;
}

.pricing-button-wrapper {
  display: flex;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 12px;
  width: 272px;
  height: 79px;
}

.pricing-container {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 80px;
  width: 1597px;
  height: 1206px;
  margin-bottom: 150px;
}

.prising-list {
  display: flex;
  gap: 30px;
}

.pricing-item {
  background-color: #fcfcfd;
  border: 1px solid #f1f1f3;
  border-radius: 12px;
  padding: 50px 30px 30px 30px;
  width: 703px;
  height: 1046px;
}

.pricing-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-1);
  color: #262626;
  font-weight: 500;
  font-size: 22px;
  line-height: 169%;
  border: 1px solid #ffeacc;
  border-radius: 6px;
  padding: 12px 22px;
  width: 643px;
  height: 61px;
  background-color: #fff9f0;
  margin-bottom: 62px;
}

.pricing-price {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.pricing-name {
  font-family: var(--font-family-1);
  color: #262626;
  font-weight: 600;
  font-size: 80px;
  line-height: 73%;
}

.pricing-name-date {
  font-family: var(--font-family-1);
  color: #4c4c4d;
  font-weight: 500;
  font-size: 20px;
  line-height: 73%;
  position: absolute;
  bottom: 0;
}

.pricing-list {
  margin-bottom: 40px;
}

.pricing-list-wrapper {
  background-color: #ffffff;
  border: 1px solid #f1f1f3;
  border-radius: 14px 14px 0 0;
  padding: 40px;
  width: 643px;
  height: 680px;
}

.pricing-list-title {
  font-family: var(--font-family-1);
  color: #262626;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 30px;
}

.pricing-list-item {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid #f1f1f3;
  border-radius: 8px;
  padding: 14px;
  width: 503px;
  height: 60px;
  font-family: var(--font-family-1);
  color: #4c4c4d;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 20px;
}

.pricing-list-icon {
  background-color: #fff4e5;
  border-radius: 6px;
  padding: 6px;
  width: 32px;
  height: 32px;
}

.pricing-list-icon-cross {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 6px;
  width: 32px;
  height: 32px;
  border: 1px solid #f1f1f3;
  border-radius: 6px;
}

.pricing-list-button {
  border-radius: 0 0 8px 8px;
  border: none;
  padding: 20px 24px;
  width: 643px;
  height: 67px;
  background-color: #ff9500;
  font-family: var(--font-family-1);
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
}

.pricing-list-button:focus,
.pricing-list-button:hover {
  box-shadow: 10px 10px 24px -12px rgba(10, 10, 10, 1);
  transform: scale(1.03);
  transition: box-shadow 250ms ease-in-out, transform 250ms ease-in-out;
}

/* QUESTIONS */

.questions {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 100px;
  width: 1595px;
  height: 1202px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 142px;
  margin-left: 163px;
}

.questions-wrapper {
  display: flex;
  flex-direction: column;
}

.questions-title {
  font-family: var(--font-family-1);
  color: #262626;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 10px;
  width: 408px;
}

.questions-text {
  font-family: var(--font-family-1);
  color: #333333;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 50px;
  width: 408px;
}

.questions-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #f1f1f3;
  border-radius: 8px;
  padding: 18px 24px;
  width: 164px;
  height: 63px;
  font-family: var(--font-family-1);
  color: #262626;
}

.questions-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.questions-item {
  background-color: #ffffff;
  border: 1px solid #f1f1f3;
  border-radius: 12px;
  padding: 30px 50px;
  width: 867px;
  height: 112px;
}

.questions-item {
  font-family: var(--font-family-1);
  color: #262626;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.questions-list-icon {
  display: flex;
  background-color: #fff4e5;
  border-radius: 8px;
  padding: 12px;
  width: 52px;
  height: 52px;
}

.questions-list-icon:focus,
.questions-list-icon:hover {
  transform: scale(1.1);
  background-color: #ff9500;
  box-shadow: 10px 10px 24px -12px rgba(10, 10, 10, 1);
  transition: transform 250ms ease-in-out, background-color 250ms ease-in-out,
    box-shadow 250ms ease-in-out;
}

/* FOOTER */

.footer-container {
  padding-bottom: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-left: 162px;
  padding-right: 162px;
  width: 1920px;
}

.footer-address-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-address-item {
  font-family: var(--font-family-1);
  color: #262626;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  font-style: normal;
}

.footer-address-item-wrapper {
  display: flex;
  gap: 6px;
  align-items: center;
}

.footer-nav-title {
  font-family: var(--font-family-1);
  color: #262626;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 14px;
}

.footer-nav-item {
  font-family: var(--font-family-1);
  color: #262626;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 8px;
}

.footer-nav-link {
  color: #262626;
}

.link-dash:focus,
.link-dash:hover {
  text-decoration: underline;
  transition: text-decoration 250ms ease-in-out;
}

.footer-nav-wrapper {
  display: flex;
  gap: 30px;
}

.footer-nav-soc {
  background-color: #f7f7f8;
  border: 1px solid #f1f1f3;
  border-radius: 8px;
  padding: 14px;
  width: 52px;
  height: 52px;
}

.footer-nav-wrap {
  display: flex;
  flex-direction: column;
  width: 249px;
  padding-bottom: 50px;
}

.footer-nav-list-icon {
  display: flex;
  gap: 14px;
}

.footer-logo {
  margin-bottom: 40px;
}

.footer-end {
  display: flex;
  justify-content: center;
  font-family: var(--font-family-1);
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #656567;
  background-color: #ffffff;
  width: 1920px;
  padding-top: 50px;
  border-top: 1px solid #f1f1f3;
  padding-bottom: 30px;
}
